<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Massage Manager</title>
</head>
<body>
    <h1><a href="{% url 'main' %}">Massage Manager</a></h1>
    <nav>
        {% if user.is_anonymous %}
            <div style="text-align: right">
                <a href="{% url 'registration' %}">Регистрация</a>
                <a href="{% url 'auth' %}">Авторизация</a>
            </div>
        {% else %}
            <a href="{% url 'main' %}">Сеансы</a>
            <a href="{% url 'add_session' %}">Записаться</a>
{#            <a href="{% url 'analytics' %}">Аналитика</a>#}
{#            <a href="{% url 'import' %}">Импорт</a>#}
            <a href="{% url 'symptoms' %}">Симтомы</a>
{#            <a href="{% url 'stat' %}">Статистика</a>#}
            <div style="text-align: right">
                {% if not user.is_anonymous %}
                    Вы авторизованы как <b>{{ user.username }}</b>
                {% endif %}
                <a href="{% url 'logout' %}">Выход</a>
            </div>
        {% endif %}
    </nav>
    <hr>
    {% block content %}{% endblock %}
</body>
</html>