{% extends 'web/base.html' %}
{% block content %}
    <h2>Типы массажей</h2>
    <ul>
        {% for massage_type in massage_types %}
            <li>
                {{ massage_type.name }} - {{ massage_type.price }}
                <p><small>{{ massage_type.description }}</small></p>
                <small><a href="{% url 'massages_delete' massage_type.id %}">удалить</a></small>
            </li>
            <br>
        {% endfor %}
    </ul>

    <b>Добавление нового вида массажа</b>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Сохранить</button>
    </form>
{% endblock %}